body{
  font-family: Bodoni, sans-serif;
  color: #0c0c0c;
  background-color: #427044;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
header {
    
  background-color: #4c4270;
  color: rgb(53, 57, 63);
  padding: 20px;
  text-align: center;
}
