@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Libre+Bodoni:wght@400;600&family=Homemade+Apple&display=swap');

*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:#f9ead7;
font-family:'Playfair Display', serif;
color:#5b1f24;

}


.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:22px 70px;

background:#5b1f24;

}

.logo h1{

font-family:'Playfair Display', serif;

font-size:38px;

color:white;

}

.logo p{

font-family:'Homemade Apple', cursive;

color:#f9ead7;

font-size:18px;

margin-top:5px;

}

.nav-links{

display:flex;

list-style:none;

gap:35px;

}

.nav-links a{

text-decoration:none;

font-family:'Libre Bodoni', serif;

font-size:18px;

color:white;

transition:.3s;

}

.nav-links a:hover{

color:#f9ead7;

}



.contact-section{

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:85vh;

    padding:60px;

    background-image:
    linear-gradient(rgba(91,31,36,.45), rgba(91,31,36,.45)),
    url("prettyflowers17.jpg");
    
    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

}

.contact-card{

    width:70%;

    max-width:950px;

    padding:60px;

    background: #f9ead7;

    backdrop-filter:blur(6px);

    border:2px solid rgba(91,31,36,.5);

    border-radius:22px;

    text-align:center;

    box-shadow:0 12px 30px rgba(0,0,0,.25);

}

.contact-card h2{

    font-family:'Playfair Display', serif;

    font-size:60px;

    font-weight:bold;

    color:#5b1f24;

    margin-bottom:35px;

}

.contact-card p{

    font-family:'Playfair Display', serif;

    font-size:24px;

    line-height:1.9;

    color:#333;

    margin-bottom:20px;

}

.contact-info{

margin-top:30px;

}

.contact-info p{

    font-size:24px;

    color:#5b1f24;

    margin-top:25px;

}


footer{

background:#5b1f24;

padding:20px;

text-align:center;

color:white;

font-family:'Libre Bodoni', serif;

font-size:17px;

}



@media(max-width:900px){

.navbar{

flex-direction:column;

padding:20px;

}

.logo{

text-align:center;

margin-bottom:20px;

}

.nav-links{

flex-direction:column;

gap:15px;

text-align:center;

}

.contact-card{

width:95%;

padding:35px;

}

.contact-card h2{

font-size:38px;

}

.contact-card p{

font-size:18px;

}

.contact-info p{

font-size:19px;

}

}
